<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Web Server</title>
        <script src="socket.io/socket.io.js"></script>
        <script src="jquery.js"></script>
        <script src="xuly.js"></script>
    </head>
    <body>
        <input type="text" id="txtRoom"/>
        <input type="button" value="Tạo Nhóm" id="btnTaoroom"/>
        
        <input type="text" id="joinRoom"/>
        <input type="button" value="Tham Gia" id="btnJoinroom"/>
        
    </body>
</html>